* {
  box-sizing: border-box;
}
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
  text-align: center;
  color: lightcyan;
  background-color: darkcyan;
}

header h1 {
  margin: 0
}

footer {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: small;
  color: #fefefe;
  background-color: darkgrey;
}

footer a {
  color: #fefefe;
  text-decoration: none;
}

#app {
  width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: x-large;
  line-height: 160%;
  color: #2c3e50;
  background-color: #ffc;
}

.page {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0.4rem;
  text-align: center;
  border: 1px solid pink;
}

.quizset-list {
  display: grid;
  width: min(20rem, 50%);
  margin: 3rem auto;
  gap: 1.6rem;
}


.quiz {
  padding: 0.4rem;
  /* border: 1px solid aqua; */
}

.problem {
  text-align: left;
  font-weight: bold;
}

.choices {
  display: flex;
  margin: 1rem 0.4rem;
  gap: 1.4rem;
  flex-wrap: wrap;
}

.ok_anim, .ng_anim {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 10rem;
  top: 20vh;
  left: 20vw;
  margin: auto;
  font-size: 200%;
  background-color: #ffffffc0;
  border: 2px solid pink;
  border-radius: 1rem;
}

.ok_anim {
  color: blue;
  border: 2px solid blue;
  border-radius: 50%;
  animation: ok-anim .5s ease-in-out infinite alternate;
}
@keyframes ok-anim {
  0% { transform: scale(80%); }
  100% { transform: scale(160%); }
}

.ng_anim {
  color: red;
  animation: ng-anim 0.8s linear infinite;
}
@keyframes ng-anim {
  0%  {transform: rotateZ(0deg);}
  100%  {transform: rotateZ(360deg);}
}

button {
  padding: 0.6rem;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

